
ul {
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    flex-wrap: wrap;
    text-align:Center;
    
  }
li {
    list-style-type: none;   
     text-align:Center;
    


}

img{
    width: 300px;
    height: 300px;
}